/* Custom Button Styles */
.btn {
	border-radius: 0;
	transition: background-color 0.3s ease-in-out;
}
.btn-dark {
    color: $color-accent;
    background-color: $color-accent-inv;
	
	&:hover, &:focus, &:active {
		color: $color-accent;
		background-color: transparentize($color-accent-inv, 0.2);
	}
}

.btn-light {
    color: $color-text;
    background-color: $color-accent;
	
	&:hover, &:focus, &:active {
		color: $color-text;
		background-color: transparentize($color-accent, 0.2);
	}
}