/**
 * General styles
 *
 * All base DOM styles should be placed in this file. The purpose of this
 * stylesheet is to provide the base styles of all elements on the site.
 *
 * Elements like the <body> tag, <h1>-<h6> tags, etc, should be styled out here
 * and extended upon in the other sass files.
 *
 * @author
 */

html {}

body {}

html,
body {
    width: 100%;
    height: 100%;
    font-family: $font;
    
    background-color: $color-bg;
}

/**
 * Custom Horizontal Rule 
*/
hr {
    height: 1px;
    border: none;
    color: $color-accent;
    background-color: $color-accent;
    
    &.small {
        max-width: 100px;
    }
    
    &.inv {
        color: $color-accent-inv;
        background-color: $color-accent-inv;
    }
}

a {
    color: $color-accent-inv;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: $color-accent;
    }
}

/**
 * An overlay for images
*/
.item {
    @include margin;
}

/*============================================================================
Bonus styles

Some commonly used styles that are automatically included for you
============================================================================*/


/**
 * Vertically center elements. Multiple elements with this class will be placed
 * next to each other and vertically-aligned.
 *
 * Note that with inline-block display, whitespace is counted in the element's
 * size. This is a problem if the elements with this class take up 100% width,
 * as they will be pushed down. Add <!-- HTML comments --> around the whitespace
 * to fix this problem: http://stackoverflow.com/a/20548578/2537637
 */
.v-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/** 
 *Verticaly centered text 
*/
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
    h1 {
        margin: 0;
        padding: 0;
        font-size: 4.5em;
        font-weight: 700;
        //color: $color-text-inv;
    }
    
    h3 {
        //color: $color-text-inv;
    }
}

/**
 * A more conventional way to use <br />.
 *
 * Just add an empty <div> with the class `.br` to combine a clearfix with 20px of
 * spacing. Add the `.br-2x` and `.br-3x` classes to cause 40px and 60px of
 * spacing, respectively.
 */
div.br:before,
div.br:after {
    content: " ";
    display: table;
}
div.br:after {
    clear: both;
}

div.br {
    width: 100%;
    height: 20px;
    float: none;
    clear: both;
}

div.br.br-2x {
    height: 40px;
}

div.br.br-3x {
    height: 60px;
}
