/**
 * Header stylsheet
 *
 * @author
 */

 .header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat center center scroll;
    background-size: cover;
    color: $color-text-inv;
    
    :first-of-type h1 {
        font-size: 450%;
    }
    :first-of-type h2 {
        font-size: 150%;
    }

}