/**
 * Page-specific stylesheet
 *
 * @author
 */

/**
 * Colored background for sections
*/
.topic {
    background-color: $color-bg;
}
.topic-inv {
    color: $color-text-inv;
    background-color: $color-accent-inv;
}


span.discover {
    color: $color-text-inv;
    //opacity: 1;

    transition: all 0.3s ease-in-out;

    &:hover {
        color: $color-accent;
        //opacity: 0.6;
    }
}

.label-default {
    color: $color-accent-inv;
    background-color: $color-accent;
}


.hovereffect {
    color: $color-accent;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

    img {
        display: block;
        position: relative;
        transition: all 0.35s;
    }

    .overlay {
        position: absolute;
        overflow: hidden;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        transition: opacity 0.35s;

        a {

        }
    }

    h2 {
        text-align: center;
        position: relative;
        background-color: transparent;
    }

    h2, a, p {
        padding: 1em 0;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: opacity 0.35s;
    }

    &:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
        filter: brightness(0.6);
    }

    &:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    &:hover a, &:hover p, &:hover h2 {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}


/**
 * Progress bars
*/
.progress {
    position: relative;
    height: 25px;
    background-color: $color-bg;
    text-transform: uppercase;

    > .progress-bar {
        background-color: $color-bar;
    }
    > .progress-bar-alt {
        background-color: $color-bar-alt;
    }
    > .progress-type {
        position: absolute;
        left: 0px;
        font-weight: 800;
        padding: 3px 30px 2px 10px;
        color: rgb(255, 255, 255);
        background-color: rgba(25, 25, 25, 0.2);
    }
    > .progress-completed {
        position: absolute;
        right: 0px;
        font-weight: 800;
        padding: 3px 10px 2px;
    }
}