/**
 * Site mixins.
 *
 * Some base mixins have been predefined here.
 *
 * @author
 */

@mixin padding {
    padding-bottom: 20px;
}

@mixin margin {
    margin-bottom: 20px;
}

@mixin center {
	float: none;
	margin: 0 auto;
}