$color-bg: #E5E5E5;
$color-text: #202A2E;
$color-text-inv: #F5F5F5;
$color-accent: #FFD64F;
$color-accent-inv: #003D74;

$color-bar: #FFD64F;
$color-bar-alt: #003D74;

$font: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 14;